{% render 'section-styles', section: section %}

{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

{%- liquid
  assign overlap_images = true
  if section.settings.image != blank
    assign overlap_images = false
  endif
-%}


<div class="page-width feature-row-wrapper">
  {%- capture media_layout -%}
    <div class="feature-row__item{% if overlap_images %} feature-row__item--overlap-images_111{% endif %}" data-aos>
      {%- if section.settings.image != blank -%}
        <div class="image_wrapper">
          {% render 'rimage', image: section.settings.image %}
        </div>
      {% elsif section.settings.video_url != blank %}
        <div class="video_wrapper embed-container">
          {% assign video_url = section.settings.video_url | replace: 'vimeo.com', 'player.vimeo.com/video' | replace: 'watch?v=', 'embed/' %}
          <iframe title="{{ title | strip_html }}" class="lazyload" src='{{ video_url }}' frameborder='0' allow="autoplay" allowautoplay allowfullscreen></iframe>
        </div>
      {% else %}
        <div>
          <div class="image-wrap">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        </div>
      {%- endif -%}
    </div>
  {%- endcapture -%}

  <div class="feature-row">
    {%- if section.settings.layout == 'left' -%}
      {{ media_layout }}
    {%- endif -%}

    <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} text-{{ section.settings.align_text }}" data-aos>
      {%- if section.settings.title != blank -%}
        <div class="h1 appear-delay{% cycle '','-1','-2','-3' %}">{{ section.settings.title | escape }}</div>
      {%- endif -%}
      {%- if section.settings.content != blank -%}
        <div class="rte appear-delay{% cycle '','-1','-2','-3' %}">{{ section.settings.content }}</div>
      {%- endif -%}
      {%- if section.blocks.size > 0 -%}
        <div class="content{% cycle '','-1','-2','-3' %}">
          {% for block in section.blocks %}
            <div class="content-list d-flex">
              <div class="list_count">
                <span class="d-flex">{{ forloop.index }}</span>
              </div>
              <div>
                <h3 class="list_title">{{ block.settings.title }}</h3>
                <div class="list_text">{{ block.settings.content }}</div>
              </div>
            </div>
          {% endfor %}
        </div>
      {%- endif -%}
    </div>

    {%- if section.settings.layout == 'right' -%}
      {{ media_layout }}
    {%- endif -%}
  </div>
</div>


{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
  {
    "name": "Image, video and text",
    "class": "image-video-text",
    "settings": [
      {
        "type": "header",
        "content": "Spacing"
      },
      {
        "type": "range",
        "id": "ptop",
        "label": "Top spacing desktop",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 75
      },
      {
        "type": "range",
        "id": "pbottom",
        "label": "Bottom spacing desktop",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 75
      },
      {
        "type": "range",
        "id": "ptop_mob",
        "label": "Top spacing mobile",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "range",
        "id": "pbottom_mob",
        "label": "Bottom spacing mobile",
        "min": 0,
        "unit": "px",
        "max": 500,
        "step": 5,
        "default": 45
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "paragraph",
        "content": "or"
      },
      {
        "id": "video_url",
        "type": "video_url",
        "label": "Video URL",
        "accept": ["youtube", "vimeo"],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "Text alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Centered"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Image on left"
          },
          {
            "value": "right",
            "label": "Image on right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "divider",
        "label": "Show section divider",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Imave, video and text"
      }
    ]
  }
{% endschema %}
  