<style>
  #shopify-section-{{ section.id }} {
    background: {{ section.settings.bg }};
  }
</style>

{% render 'section-styles', section: section %}

<div class="page-width">
  {%- if section.settings.title != blank -%}
    <div class="section-header">
      <h2>{{ section.settings.title }}</h2>
      {% if section.settings.desc != blank %}
        <div class="description m-center">{{ section.settings.desc }}</div>
      {% endif %}
    </div>
  {%- endif -%}
  {% if section.blocks.size > 0 %}
    <div class="tabs-wrapper">
      <div class="tab-headers d-flex">
        {% for block in section.blocks %}
          <div class="tab-header-item{% if forloop.first %} btn active{% endif %}" data-id="{{ section.id }}-tab-{{ forloop.index }}">{{ block.settings.title }}</div>
        {% endfor %}
      </div>
      <div class="tab-contents">
        {% for block in section.blocks %}
          <div class="tab-content{% if forloop.first %} active{% endif %}" data-id="{{ section.id }}-tab-{{ forloop.index }}">
            <div class="feature-row__item tab-content-wrapper d-flex{% if block.settings.layout == 'left' %} reverse{% endif %}" data-aos>
              <div class="info_wrapper">
                {{ block.settings.text }}
              </div>
              <div class="image_wrapper">
                {% render 'rimage', image: block.settings.image, role: 'presentation' %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>

<script>
  var $tabs = document.querySelectorAll('.tab-header-item');
  var $tab_contents = document.querySelectorAll('.tab-content');
  $tabs.forEach(($tab) => {
    $tab.addEventListener('click', function(e) {
      $tabs.forEach((_tab) => {
        _tab.classList.remove('btn');
      });
      $tab.classList.add('btn');
      var id = $tab.getAttribute('data-id');
      $tab_contents.forEach(($content) => {
        $content.classList.remove('active');
        if($content.getAttribute('data-id') == id) {
          $content.classList.add('active');
        }
      })
    })
  })
</script>

{% schema %}
{
  "name": "Featured Tabs",
  "class": "section-featured-tabs",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 75
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 75
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "desc",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Tab name"
        },
        {
          "type": "header",
          "content": "Contents"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "select",
          "options": [
            {
              "label": "Image on right",
              "value": "right"
            },
            {
              "label": "Image on left",
              "value": "left"
            }
          ],
          "id": "layout",
          "default": "right",
          "label": "Layout"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured tabs"
    }
  ]
}
{% endschema %}